---
title: The Team behind Proximisoft
---

<div class="main-container">
  <div class="container">
    <h1>About</h1>
    <p>Proximisoft is based in Montreal, Quebec and work with medium to large companies along with Universities.</p>
    <p>We specialize in the conception and the development of productivity tools.</p>
    <p>Our team of experts will help you turn projects into reality.</p>
    <p>Over the years we've built numerous web-based applications but our flagship products is <a href="/plazza">Plazza</a>, an all-in-one solution to keep track of fixed asset and manage facility.</p>
    <p><%= link_to "Let's talk about your project", "/contact", class: "button" %></p>
  </div>
</div>
