---
title: Fixed Asset and Inventory Management Software for Labs
---

<div class="jumbotron">
  <div class="container">
    <h1>
      <span>Fixed Assets & Facility Management</span>
      <span>Software Made Easy.</span>
      <span><b>Proximisoft</b> Helps Teams Connect</span>
    </h1>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-4 feature-card" data-url="/plazza">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-4">
            <img src="./assets/images/noun_82692.svg" alt="Floor Plan">
          </div>
          <div class="col-xs-6 col-sm-6 col-md-8">
            <h3>Plazza</h3>
            <p>Fixed Assets and Facility Management Software (Floor Planning)</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 feature-card" data-url="/laborder">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-4">
            <img src="./assets/images/noun_707719.svg" alt="Biobar Lab Inventory">
          </div>
          <div class="col-xs-6 col-sm-6 col-md-8">
            <h3>Laborder</h3>
            <p>Research Inventory & Requisition Management Software</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 feature-card" data-url="/rails">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-4">
            <img src="./assets/images/noun_948905.svg" alt="Ruby on Rails">
          </div>
          <div class="col-xs-6 col-sm-6 col-md-8">
            <h3>Ruby on Rails</h3>
            <p>Ongoing code maintenance, Application Support, and Custom Development</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="main-container">
  <div class="container">
    <h2>About Us</h2>
    <p>Proximisoft specialize in the conception and the development of <b>productivity tools</b>.</p>
    <p>We empower the framework Ruby on Rails to build <b>innovative solutions for mobile & desktop</b> that are accessible anytime anywhere.</p>
    <p>We've built numerous <b>inventory and warehouse management</b> solutions for medium to large companies in a broad range of industries such as education, e-commerce, dairy companies, newspapers and cut flowers.</p>
    <p>We connect <a href="/plazza">systems and organizations altogether</a>, re-engineer processes, automate tasks to save your team time, money and energy.</p>
    <p>Our missions include connecting back-end systems and ERPs to accounting systems, synchronize stocks across multiple warehouses, onboard users, implement point-of-sale solutions, and globally speaking, <b>help companies become more effective.</b></p>

    <h2>Services</h2>
    <p>We cover the full spectrum of software development, starting with product vision to the build and delivery phase.</p>
    <p>We are <a href="http://agilemethodology.org">Agile</a> and believe in short iterations. This means, we share with clients early and often to ensure that we remain on the same page.</p>
    <p>Our process is simple and easy to follow:</p>
    <ol>
      <li>Business Analysts take the time to understand your business, process, pain points and the expected result</li>
      <li>We translate all your needs into functional specifications, come up with a plan and then move on to the build phase</li>
      <li>From there, expect regular progress update with live screens you can interact with, validate internally and share with others. We will refine the system based on your feedback and our expertise until the final product</li>
    </ol>
    <a href="/contact" class="button button-dark">Let's Talk About Your Project</a>
  </div>
</section>
