---
title: University Ordering and Inventory Management Software
---

<div class="main-container">
  <div class="container">
    <h1>Laborder</h1>

    <p class="lead">Inventory and Warehouse Management Software.<br>
    Laborder targets the Scientific and Research Community and is adopted by Universities</p>

    <a href="./contact" class="button button-dark">Schedule Demo</a>
    <h2>Features</h2>
    <p>Laborder is offered as a hosted solution in the cloud or installed on premise.</p>

    <h3>Product Inventory</h3>
    <ul>
      <li>Manage any type of product/goods</li>
      <ul>
        <li>Perishable</li>
        <li>Radioactive/Hazardous</li>
      </ul>
      <li>Set and Monitor Quantity On Hand (QOH) across multiple warehouses</li>
      <li>Manage product visibility and storages</li>
      <li>Product Catalog</li>
      <ul>
        <li>Save product to favorites for quick access</li>
        <li>Compare products</li>
      </ul>
      <li>Barcode support (inventory through barcode scanner)</li>
    </ul>

    <h3>Requisition</h3>
    <ul>
      <li>Labs submit requisition:</li>
      <ul>
        <li>Free-form requisition</li>
        <li>From product in inventory</li>
      </ul>
      <li>Approval process between buyer (lab technician for instance) and account delegate (Principle Investigator for instance)</li>
      <li>Workflow process between buyer and procurement services to validate requisition</li>
      <li>Assign requisition to procurement user for ordering</li>
      <li>Manage requisition life cycle and order status</li>
      <li>Ability to handle multiple carts shared within lab</li>
    </ul>

    <h3>Receiving</h3>
    <ul>
      <li>Track package reception and replenishment</li>
      <li>Track package pickup or in-floor delivery</li>
    </ul>

    <h3>System Administration</h3>
    <ul>
      <li>Users Management</li>
      <ul>
        <li>LDAP Integration (<i>Active Directory - on-premise only</i>)</li>
        <li>Assign role and permissions to users</li>
      </ul>
      <li>Manage suppliers</li>
      <ul>
        <li>Manage promotions</li>
      </ul>
      <li>Manage storages and warehouses</li>
      <li>Manage carriers</li>
      <li>Manage services and users</li>
    </ul>

    <h3>Lab/Service/Department</h3>
    <ul>
      <li>Personalized dashboard for all users</li>
      <li>Access frequent resources at a fingertip</li>
      <li>Orders history and overview</li>
      <ul>
        <li>Ability to re-order</li>
        <li>Powerful search</li>
      </ul>
    </ul>

    <h3>And More</h3>
    <ul>
      <li>Web-based Solution</li>
      <li>Web API</li>
      <li>Reports</li>
      <li>Integrate with your systems & workflow</li>
      <li>Bilingual Application (English & French)</li>
      <li>Roadmap Available</li>
      <li>Custom Development Service offered to tailor your specific needs</li>
    </ul>

    <a href="./contact" class="button button-dark">Schedule Demo</a>
  </div>
</div>
