---
title: University Ordering and Inventory Management Software
---

<div class="main-container">
  <div class="container">
    <h1>Laborder</h1>

    <p class="lead">Inventory and Warehouse Management Software.<br>
    Laborder targets the Research Community and is adopted by Universities</p>

    <a href="./contact" class="button button-dark">Schedule Demo</a>
    <h2>Features</h2>
    <p>Laborder is offered as a hosted solution in the cloud or installed on premise.</p>

    <h3>Product Inventory</h3>
    <ul>
      <li>Manage any type of products/goods</li>
      <ul>
        <li>Perishable</li>
        <li>Radioctive/Hazardous</li>
      </ul>
      <li>Manage Quantity On Hand (QOH) across multiple warehouses</li>
      <li>Manage product visiblity and storages</li>
      <li>Product Catalog</li>
      <ul>
        <li>Save to favourites</li>
        <li>Compare products</li>
      </ul>
      <li>Barcode support</li>
    </ul>

    <h3>Requisition</h3>
    <ul>
      <li>Submit requistion:</li>
      <ul>
        <li>Free-form requisition</li>
        <li>Product in inventory</li>
      </ul>
      <li>Approval process between buyer (lab technician for instance) and account delegate (Principle Investigator for instance)</li>
      <li>Workflow process between buyer and procurement services</li>
      <li>Assign requisition</li>
      <li>Manage requisition lifecycle and status</li>
      <li>Handle multiple carts</li>
    </ul>

    <h3>Receiving</h3>
    <ul>
      <li>Package reception and replenishment</li>
      <li>Track package reception</li>
      <li>Track package pickup</li>
    </ul>

    <h3>System Administration</h3>
    <ul>
      <li>Users Management</li>
      <ul>
        <li>LDAP Integration (<i>Active Directory - on-premise only</i>)</li>
        <li>Roles and permissions</li>
      </ul>
      <li>Manage suppliers</li>
      <ul>
        <li>Manage promotions</li>
      </ul>
      <li>Manage storages</li>
      <li>Manage carriers</li>
      <li>Manage services and users</li>
    </ul>

    <h3>Client</h3>
    <ul>
      <li>Personnalized dahboard for all users</li>
      <li>Access convenient resources at a fingertip</li>
      <li>Orders overview</li>
      <ul>
        <li>Ability to re-order</li>
        <li>Powerful search</li>
      </ul>
    </ul>

    <h3>And More</h3>
    <ul>
      <li>Web-based Solution</li>
      <li>Web API</li>
      <li>Reports</li>
      <li>Integrate with your systems & workflow</li>
      <li>Bilingual Application (English & French)</li>
      <li>Roadmap Available</li>
      <li>Custom Development Service offered to tailor your specific needs</li>
    </ul>

    <a href="./contact" class="button button-dark">Schedule Demo</a>
  </div>
</div>
