---
title: Lab management software. Lab inventory, fixed assets and lab ordering
---

<div class="main-container">
  <div class="container">
    <h1>Plazza</h1>
    <p class="lead">Fixed Assets & Facility Management Software. Plazza helps find floor space within their organization</p>

    <a href="./contact" class="button button-dark">Schedule Demo</a>
    <h2>Features</h2>
    <p>Plazza is offered as a hosted solution in the cloud or installed on premise.</p>

    <h3>Fixed Asset Management</h3>
    <ul>
      <li>Manage Fixed Assets and their Location</li>
      <li>Track assets preventive maintenance and repair</li>
      <li>Service Calendar (“intervention” schedule)</li>
      <li>Dashboard with upcoming interventions</li>
      <li>Highly Flexible Assets page through custom fields</li>
      <li>Track any equipment-specific information</li>
      <li>Generate report on asset location, categories, repairs</li>
      <li>Barcode support</li>
    </ul>

    <h3>Building & Floor Planning</h3>
    <ul>
      <li>Define your own Space/Architecture:</li>
      <ul>
        <li>Building → Floor → Room → People</li>
      </ul>
      <li>Keep Track of Keys and People</li>
      <li>View Floor Plan and occupation</li>
      <li>Capacity Planner (<i>coming in 2017</i>)</li>
      <ul>
        <li>Find desk available within your organization</li>
        <li>Ease the onboarding process</li>
      </ul>
      <li>Get Rooms by Occupancy</li>
    </ul>

    <h3>Equipment Booking</h3>
    <ul>
      <li>Ability to share equipment with others departments/services/labs</li>
      <li>Manage Booking Requests</li>
      <li>Manage Booking Calendar</li>
      <ul>
        <li>Self-serve Booking</li>
        <li>Suit any type of equipment (scientific, common equipment, appliance...)</li>
      </ul>
      <li>Generate Usage Report</li>
      <ul>
        <li>Track who borrows what</li>
      </ul>
    </ul>

    <h3>Notifications</h3>
    <ul>
      <li>Ability to send targeted notification to certain people only</li>
      <li>Manage any type of notification</li>
      <ul>
        <li>Construction</li>
        <li>Shutdown</li>
        <li>Key Holders</li>
        <li>...</li>
      </ul>
      <li>Define and re-use notification template</li>
    </ul>

    <h3>And More</h3>
    <ul>
      <li>Users Management</li>
      <ul>
        <li>LDAP Integration (<i>Active Directory - on-premise only</i>)</li>
      </ul>
      <li>Web-based Solution</li>
      <li>Web API</li>
      <li>Reports</li>
      <li>Integrate with your systems & workflow</li>
      <li>Bilingual Application (English & French)</li>
      <li>Roadmap Available</li>
      <li>Custom Development Service offered to tailor your specific needs</li>
      <li>Support and Online Help</li>
    </ul>
    <a href="./contact" class="button button-dark">Schedule Demo</a>
  </div>
</div>
